# What is Jupyter Notebook and why do we use it?
- It allows to program in a web browser.
- It's a combination of code, instructions and output.
- Everything is displayed on one web page which makes it easier to write a code that tells a story.

In [9]:
# When you click inside the box it turns green - which means that this is your current working cell.

In [11]:
# Shift+Enter to execute any cell

In [ ]:
# Some shortcuts : toggle number lines

In [10]:
print("Hello")

Hello

In [41]:
a=5
b=10
print(a+b)

15

In [42]:
#can use arrow keys to move cells up and down

In [46]:
#Esc + A/B - above/below - if you want to add cells

In [45]:
#Esc +DD - if you want to delete a cell

In [264]:
x=15

In [266]:
x=5

In [267]:
print(x)

5

In [51]:
# the order of the execution of the cells also matters

In [53]:
print(x)

5

In [54]:
# That's why we alo try to code in top to bottom order

This is a text

##

In [43]:
# Also can use Markdown to get a text for your code

This is a Markdown text

In [44]:
#can also use '#'  in Markdown for the size , and create sublists

### Size 3

#### Size 4

## Size 2

# Size 1
It's a markdown cell

- A
- B
- C

## Code tells you how, comments tell you why.

In [55]:
# This is a comment!!!!

In [56]:
## It won't work
comment

NameError: name 'comment' is not defined

In [9]:
""" This is a multuline 
 comment """

' This is a multuline \n comment '

In [57]:
20+10/5

22.0

In [14]:
5**3
#This is exponent

125

In [1]:
5*3'
5^3
#Just simple multiplication

15

In [17]:
5

5

In [18]:
5.0

5.0

In [19]:
'a'

'a'

In [20]:
"a"

'a'

In [21]:
"""a"""

'a'

In [22]:
type('a')

str

In [23]:
type("a")

str

In [24]:
type("""a""")

str

In [25]:
print(type("a"))

<class 'str'>

In [27]:
#Special characters \n - new line
print(" My name is \n Ashish")

 My name is
 Ashish

In [29]:
#\t - space tab
print("My name is \t Ashish")

My name is 	 Ashish

### Variables - functions like a bucket which is used to store data. It can be of any type of data.

# Python Identifiers :

An identifier is a name given to entities like class, functions, variables, etc. 
It helps to differentiate one entity from another.

## Rules for writing identifiers:

Identifiers can be combination of letters in lowercase(a to z) or uppercase (A-Z) or digits (0-9) or an underscore _.

Names like myClass, var_1 and print_this_to_screen, all are valid example.

An identifier cannot start with a digit. 1variable is invalid, but variable1 is perfectly fine.

We cannot use special symbols like !, @, #, $, % etc. in our identifier.

Keywords(already reserved for something else) cannot be used as identifiers in Python.

In [2]:
False  class 	finally 	is 	return 
None 	continue	for	lambda	try
True	def	from	nonlocal	while
and	del	global	not	with
as	elif if	or	yield
assert	else	import	pass	 
break	except	in	raise

SyntaxError: invalid syntax (<ipython-input-2-d2ef859021f8>, line 1)

# Data Types
### Variables can hold values of different types called data types

## The basic data types:
- numbers
- strings

# Issues with Indentation

## What is Indentation? - the word indent is used to describe "distance" or number of spaces.

In [59]:
## have to pay special attention to tabs and spaces

In [3]:
weather = "Rainy"
if weather == "Rainy":
print("It's a rainy day")

IndentationError: expected an indented block (<ipython-input-3-4df859c6ee38>, line 3)

In [4]:
weather = "R"
if weather == "Rainy":
 print("It's a rainy day")

It's a rainy day

In [7]:
weather = "SUNNY"
if weather == "Rainy":
 print("It's a rainy day")
else:
    print("Sunny Day")
 print("something")
print("it's snowing outside")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [66]:
weather = "Rainy"
if weather == "Rainy":
 print("It's a rainy day")
else:
    print("Sunny Day")
    print("it's snowing outside")

It's a rainy day

In [67]:
weather = "rainy"
if weather == "Rainy":
 print("It's a rainy day")
else:
    print("Sunny Day")
    print("it's snowing outside")

Sunny Day
it's snowing outside

In [68]:
weather = "rainy"
if weather == "Rainy":
 print("It's a rainy day")
else:
    print("Sunny Day")
print("it's snowing outside")

Sunny Day
it's snowing outside

In [70]:
# But sometmes people use both spaces and tabs while coding, how can you differentiate between them?

In [4]:
# The solotuion is : Always use a tab while starting a new block of code

# More things about the print 
- format method
- end and sep

In [10]:
my_string = "capital of %s is %s" %("US","Washington")

In [11]:
print(my_string)

capital of US is Washington

In [74]:
my_string2 = "capital of {} is {}".format("US","Washington")

In [75]:
print(my_string2)

capital of US is Washington

In [76]:
my_string3 = "capital of {} is {} and it is located at {},{}".format("US","Washington", 77.2,55.6)

In [77]:
print(my_string3)

capital of US is Washington and it is located at 77.2,55.6

In [78]:
## end

In [79]:
print("Hello")
print("hello World")

Hello
hello World

In [80]:
print("Hello", end =" ")
print("hello World")

Hello hello World

In [82]:
#sep

In [81]:
print("A", "B", "ABC")

A B ABC

In [84]:
print("A", "B", "ABC" , sep ='\n')

A
B
ABC

# User Input
- input()
- typecasting

In [13]:
name = input()
print("My name is " + name)

15
My name is 15

In [88]:
print(type(name))

<class 'str'>

In [268]:
name = input()
print("My name is " + name)

15
My name is 15

In [90]:
print(type(name))

<class 'str'>

In [91]:
#input is always passed as a string and that's where typecasting comes into the picture.

In [92]:
age = int(name)

In [93]:
print(age)

15

In [94]:
print(type(age))

<class 'int'>

In [96]:
number = int(input())

15

In [97]:
print(number)

15

In [98]:
print(type(number))

<class 'int'>

In [99]:
"10 20 30 40 50"

'10 20 30 40 50'

In [100]:
"10 20 30 40 50". split()

['10', '20', '30', '40', '50']

In [102]:
numbers = [int(no) for no in input().split()]

10 20 30 40 50

In [103]:
print(numbers)

[10, 20, 30, 40, 50]

IndentationError: unexpected indent (<ipython-input-107-908630d0482e>, line 2)

# Operators and Expressions

In [109]:
# a = (b+c) %d
#(b+c)%d is an expression and the entore line is a statement

## Different type of Operators
- Addition , +
- Subtraction , - 
- Divison , /
- mod , %
- multiplication , *
- floor divison, //
- power , **

In [110]:
2+3

5

In [111]:
2-3

-1

In [112]:
3/2

1.5

In [113]:
5/3

1.6666666666666667

In [114]:
5//3 #floor division

1

In [16]:
15//4

3

In [15]:
10%3 #mod operator

1

In [117]:
3%2

1

In [118]:
10%2

0

In [119]:
5*3 #multiply

15

In [120]:
5**3 #power

125

In [121]:
5**5

3125

# Assignment operators
- =
- +=
- -=
- *=
- /=
- %=
- **=

In [122]:
a=5

In [123]:
print(a)

5

In [124]:
a = a+5
print(a)

10

In [125]:
a+=5

In [126]:
print(a)

15

In [127]:
a= a-5
print(a)

10

In [128]:
a-=5
print(a)

5

In [129]:
a = a*6
print(a)

30

In [130]:
a*=6
print(a)

180

In [131]:
a/=6
print(a)

30.0

In [133]:
a/=6
print(a)

5.0

In [134]:
print(int(a))

5

In [135]:
b = a%3
print(b)

2.0

In [136]:
print(int(b))

2

In [137]:
a**=3
print(a)

125.0

In [138]:
b**=3
print(b)

8.0

# Control Flow (If- Else)

In [142]:
weather = input()

if weather =="Rainy":
    print("Don't go outside")
elif weather =="Snow":
    print("Just sleep")
else:
    print("Go to class")

Snow
Just sleep

# Loops in Python
- Allows you to execute a block to code a number of times
- for loop
- while loop

## While loop

In [145]:
n=10
i=1

while i<=n:
    print("Step %d"%i)
    i+=1

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10

In [146]:
n=100
i=5

while i<=n:
    print("Step %d"%i)
    i+=10

Step 5
Step 15
Step 25
Step 35
Step 45
Step 55
Step 65
Step 75
Step 85
Step 95

In [154]:
n=1000
i=2

while i<=n:
    print("Step %d"%i,end =" ")
    i*=2
    print("We're still in the loop")
print("\nwe're outside the loop")

Step 2 We're still in the loop
Step 4 We're still in the loop
Step 8 We're still in the loop
Step 16 We're still in the loop
Step 32 We're still in the loop
Step 64 We're still in the loop
Step 128 We're still in the loop
Step 256 We're still in the loop
Step 512 We're still in the loop

we're outside the loop

# For Loop

In [156]:
for i in range(1,10):
    print(i, end =" ,")

1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [157]:
for i in range(1,10,2):
    print(i, end =" ,")

1 ,3 ,5 ,7 ,9 ,

In [158]:
number = 10
ans =1

for i in range(1,11):
    ans *=i
    
print(ans)

3628800

# Things to take care while writing loops 
- Infinite Loop
- Reverse Loop
- Nested Loop : 2D Matrix, Sieve of Erasothenes(finding prime numbers)

## Reverse loop

In [3]:
for i in range(10,1,-2):
    print(i, end =" ")

10 8 6 4 2

## Nested loops

In [163]:
n = 4
for x in range(n) : 
    for y in range (n) :
        print(x,y)
    
    print(" ")

0 0
0 1
0 2
0 3

1 0
1 1
1 2
1 3

2 0
2 1
2 2
2 3

3 0
3 1
3 2
3 3

## infinite Loop

In [ ]:
n = 10

while n!=0 :
    n = n+1
    print(n)
    
# Don't run this - it will create an infinite loop

# Break, Continue and Pass statements
- pass - to skip a condition. Sometimes you don't know what condition should be inside the loop - use pass instead ana you can later add the condition
- break - used to break the loop at a particular condition
- continue - takes you to the next executable statement

## Pass

In [167]:
for i in range (1,10):

SyntaxError: unexpected EOF while parsing (<ipython-input-167-7cffe854385b>, line 1)

In [17]:
for i in range (1,10):
    pass
#works just fine

In [6]:
for i in range (1,10):
    if i==5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9

In [171]:
for i in range (1,10):
    if i==5:
        print(i*i)
    print(i)

1
2
3
4
25
5
6
7
8
9

## Break statement

In [172]:
for i in range (1,10):
    if i==5:
        print(i*i)
        break
    print(i)

1
2
3
4
25

## Continue statement

In [173]:
for i in range (1,10):
    if i==5:
        print(i*i)
        continue
    print(i)

1
2
3
4
25
6
7
8
9

# Strings and the built in methods

In [178]:
a = "Purdue"
print(a)

Purdue

In [179]:
print(a[2])

r

In [180]:
print(a[1])

u

In [182]:
print(a[-1])

e

In [183]:
print(a[-2])

u

In [184]:
print(len(a))

6

In [185]:
# Strings are NOT MUTUABLE!!!!!
a[2] = 'e'

TypeError: 'str' object does not support item assignment

In [186]:
a = "IU SUCKS"

In [187]:
print(a)

IU SUCKS

In [190]:
for i in range(len(a)):
    print(a[i],end=" ")

I U   S U C K S

## Working with Strings

In [19]:
a = "Purdue"
b ="150 Years"
print(a+b)

Purdue150 Years

In [23]:
print(a*5,end="  ")

PurduePurduePurduePurduePurdue

In [195]:
#Slicing
a[1]

'u'

In [197]:
#Range Slicing
a[2:5] # a[start:end+1]

'rdu'

In [198]:
# Membership

'due' in a

True

In [199]:
'ur' in a

True

In [200]:
'IU' in a

False

In [201]:
#Triple Quotes

para = " This is 
somehting"

SyntaxError: EOL while scanning string literal (<ipython-input-201-9278a5a0e68c>, line 3)

In [203]:
para = """ This is something that
I wanto to write as usual"""

In [204]:
print(para)

 This is something that
I wanto to write as usual

## More inbuilt tring functions

In [207]:
l= para.split()

In [208]:
print(type(para.split()))

<class 'list'>

In [209]:
print(l)

['This', 'is', 'something', 'that', 'I', 'wanto', 'to', 'write', 'as', 'usual']

In [210]:
type(l[1])

str

In [211]:
para.splitlines()

[' This is something that', 'I wanto to write as usual']

In [213]:
a= "Purdue"
a.upper()
print(a)

Purdue

In [214]:
a=a.upper()

In [215]:
print(a)

PURDUE

In [216]:
a=a.lower()
print(a)

purdue

In [221]:
a= " IU SUCKS  "
print(a)

 IU SUCKS

In [222]:
print(len(a))

11

In [227]:
a= a.lstrip() #remove the leading white space
a= a.rstrip() #remove the ending white space
a= a.strip() #remove both
print(a)

IU SUCKS

In [228]:
print(len(a))

8

In [229]:
a="93"
a.isdigit()

True

In [230]:
a="925Hilltop"
a.isdigit()

False

In [231]:
a= "Hilltop"
a.isalpha()

True

In [232]:
a="925Hilltop"
a.isalpha()

False

In [234]:
a= "123abc"
a.isalnum()

True

In [235]:
a= "123@abc"
a.isalnum()

False

In [236]:
a= "Purdue"
a.islower()

False

In [237]:
a.isupper()

False

In [238]:
a.isspace()

False

In [239]:
a="   "

In [240]:
a.isspace()

True

# Some more String functions
- Find
- Replace
- Count
- Join
- Title
- Captilize

In [242]:
a= "Purdue is a great school"
a.find("great") # first occurence from the left

12

In [245]:
a.find("great",13,len(a)) # can't find it

-1

In [246]:
#Also another method
a.index("great")

12

In [247]:
#What's the difference between a.index and a.find ----> a.index throws and exception where as find gives -1
a.index(greats)

NameError: name 'greats' is not defined

## Replace

In [248]:
a = a.replace("great", "greatest")
print(a)

Purdue is a greatest school

## Count

In [253]:
a.count("greater")

0

In [252]:
a.count("greatest")

1

## Join

In [254]:
l = a.split()
print(l)

['Purdue', 'is', 'a', 'greatest', 'school']

In [255]:
"_".join(l)

'Purdue_is_a_greatest_school'

In [256]:
"-".join(l)

'Purdue-is-a-greatest-school'

## Title and Capitilize

In [258]:
name = "purdue is a good school"
print(name)

purdue is a good school

In [259]:
name.title() #First letter of every word is capatalized

'Purdue Is A Good School'

In [260]:
name = "purdue is a good school"
print(name)

purdue is a good school

In [263]:
name.capitalize() #only first letter of the first word is capatalized

'Purdue is a good school'

# Data Structures in Python

## Built in Data Types
- Strings
- Lists
- Tuples
- Dictionaries
- Sets

## Lists

In [1]:
# It's like an array but of hetereogenoeus nature (it can store different combination of data types)

In [9]:
myList = [1,2,4.5,"Hello"] #make sure of the brackets - if you use {} , the it will be a set
print(myList)
print(type(myList))

[1, 2, 4.5, 'Hello']
<class 'list'>

In [10]:
myList = {1,2,4.5,"Hello"}
print(myList)
print(type(myList))

{1, 2, 4.5, 'Hello'}
<class 'set'>

## Another way to create a list

In [11]:
a = list()
print(type(a))

<class 'list'>

In [19]:
a = list([1,2,3])

In [20]:
print(a)
print(type(a))

[1, 2, 3]
<class 'list'>

In [21]:
b = list(a) #used one list to create another
print(b)

[1, 2, 3]

In [22]:
b = a+b # can add lists
print(b)

[1, 2, 3, 1, 2, 3]

In [23]:
b. extend(a) # add a as a list at the end of b
print(b)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
# List of sqaure of numbers from 1 to 10
d = [ i*i for i in range(1,11)]

In [25]:
print(d)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List slicing - similar to string

In [27]:
d[0:4] # 4 is not included because our range works from 0 to end-1

[1, 4, 9, 16]

## Insertion 
- append
- insert

## Deletion
- remove
- pop
- del

In [54]:
a1 = [1,2] #append inserts elements at the end of the list
a1.append(3)
print(a1)
a1.append([1,2]) #list within list
print(a1)

[1, 2, 3]
[1, 2, 3, [1, 2]]

In [55]:
print(a1[3])
print(a1[3][1]) # if you want to access the element inside the nested list

[1, 2]
2

In [56]:
a1.insert(2,20)

In [57]:
print(a1)

[1, 2, 20, 3, [1, 2]]

In [58]:
a1.remove(2)
print(a1)

[1, 20, 3, [1, 2]]

In [59]:
# if you want to delete a particular index in the list
del a1[0]
print(a1)

[20, 3, [1, 2]]

In [60]:
a1. pop()
print(a1)

[20, 3]

## Some other things about lists

In [61]:
L = [1,2,3]
L = 4*L
print(L)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
my_list = [1, 2, 3, 4, 5]
my_new_list = [i * 5 for i in my_list]
print(my_new_list)

[5, 10, 15, 20, 25]

In [45]:
3 in L

True

In [46]:
2 in L

True

In [47]:
4 in L

False

In [51]:
l = [ 1,2,3 ,"Hello", "Purdue"]
for i in range(len(l)):
    print(l[i])

1
2
3
Hello
Purdue

# Dictionaries
## stores information on form of key-value pairs
- these values are not sorted in any order. Totally random
- given a key , you can find what value is associated with it.

- Also, the keys should be unique ( you cannot have same fruit name in the key but you can have same in the value column)

### For example : Let's take a pair of fruits and their prices
- Key      Value
- Mango     100
- Apple     180
- Banana    120

# How to create a Dict.

In [70]:
d ={}
print(type(d))

d= { "Mango":100, "Apple":180 , "Banana":120}
print(d)

print(d["Mango"])

d["Purdue"] = 14500
print(d)

d["grapes"] = [10,20]
print(d)

d["pineapple"] = { "small":90,"Large": 150}
print(d)

print(d["pineapple"]["small"])

<class 'dict'>
{'Mango': 100, 'Apple': 180, 'Banana': 120}
100
{'Mango': 100, 'Apple': 180, 'Banana': 120, 'Purdue': 14500}
{'Mango': 100, 'Apple': 180, 'Banana': 120, 'Purdue': 14500, 'grapes': [10, 20]}
{'Mango': 100, 'Apple': 180, 'Banana': 120, 'Purdue': 14500, 'grapes': [10, 20], 'pineapple': {'small': 90, 'Large': 150}}
90

In [71]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Banana', 'Purdue', 'grapes', 'pineapple'])

In [72]:
print(d.values())

dict_values([100, 180, 120, 14500, [10, 20], {'small': 90, 'Large': 150}])

# Methods and Operators on Dict.
- get() - to get a vaue for a key.
- items() - gives us tuples
- keys() - we've already seen that
- values() - we've already seen that
- clear() - clear the entire dict.
- update - join two dict.
- in , not in
- len() - give you the length of the dic
- del - delete a key-value pair

In [73]:
print(d["Mangoes"])

KeyError: 'Mangoes'

In [75]:
print(d.get("Mango"))
print(d.get("Mangoes")) # because there is no Mangoes in our dict.

100
None

In [76]:
print(d.items())

dict_items([('Mango', 100), ('Apple', 180), ('Banana', 120), ('Purdue', 14500), ('grapes', [10, 20]), ('pineapple', {'small': 90, 'Large': 150})])

In [77]:
l = list(d.items())
print(d)

{'Mango': 100, 'Apple': 180, 'Banana': 120, 'Purdue': 14500, 'grapes': [10, 20], 'pineapple': {'small': 90, 'Large': 150}}

In [78]:
del d["pineapple"]
print(d)

{'Mango': 100, 'Apple': 180, 'Banana': 120, 'Purdue': 14500, 'grapes': [10, 20]}

In [79]:
d2 = {"strawberry ":95}
d.update(d2) # used to merge two dic.
print(d)

{'Mango': 100, 'Apple': 180, 'Banana': 120, 'Purdue': 14500, 'grapes': [10, 20], 'strawberry ': 95}

In [80]:
print(len(d))

6

In [82]:
d.clear()
print(d)
print(len(d))

{}
0

# How to convert a List into a Dict.

## one list for keys and another for values

In [88]:
l1 = ["Apple", "Orange" ,"Grapes"]
l2 = [100,120,150]
p = dict(zip(l1,l2))
print(p)
print(type(p))

{'Apple': 100, 'Orange': 120, 'Grapes': 150}
<class 'dict'>

In [89]:
for k in p:
    print(k)

Apple
Orange
Grapes

# Tuples - similar to lists 
- hold together multiple objects
- immutable (lists are mutable but Tuples are not)
- separated by commas within ()

# Question - Why tuples instead of Lists?

### Tuples are faster than lists
### Asserts data is constant ( Once declared - cannot be changed)
### Return multiple values from a function call.

In [92]:
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [94]:
t[0]=5
print(t[0]) #immutable - can't do this

TypeError: 'tuple' object does not support item assignment

In [95]:
#t[0]=5
print(t[0])

1

In [96]:
# Convert a tuple into a list
l = list(t)
print(l)

[1, 2, 3, 'Hello']

In [98]:
l[0]=5
print(l) # because list is mutable

[5, 2, 3, 'Hello']

In [99]:
t2 = tuple(l)
print(t2)

(5, 2, 3, 'Hello')

In [101]:
print(t2+t) #concatenation of tuples

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')

In [102]:
t2 = t2*3
print(t2)

(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

In [103]:
print(len(t2))

12

In [105]:
print(max(t2)) # because elements are of not the same data type

TypeError: '>' not supported between instances of 'str' and 'int'

In [120]:
t = (1,2,3,4)
print(max(t))

4

In [121]:
print(min(t))

1

In [122]:
del t
print(t)

NameError: name 't' is not defined

In [5]:
def isPalindrome(string):
    
    if not string:
        return False
    
    string = string.lower()
    string1 = string[::-1]
    
    if string == string1:
        return True
    else:
        return False
    
def uniquePalindromes(string):
    string=string.lower()
    x=[]
    y=[]
    x=string.split()
    
    for i in x :
        if isPalindrome(i):
            if i not in y:
                y.append(i)
                
    return y
    

# Example: 
print( uniquePalindromes('Madam asked Anna to go out but Anna refused') ) # outputs ['madam', 'anna']
print( uniquePalindromes('Palindromes ara also found in Anna and ara studied in recreational mathematics') )
# outputs
print( uniquePalindromes('Aibohphobia is a joke term used to describe the fear of palindromes') )

['madam', 'anna']
['ara', 'anna']
['aibohphobia', 'a']